.style {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.img-style {
    width: 100px
}


/* 
.div-style {
    display: grid;
    grid-template-columns: repeat(3);
    grid-gap: 5px;
    border: 5px red;
} */